



// typing name animation
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%; 
    }
  }
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
  


// fadein animations
 @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInTitle {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  