@use '../variables';
@use '../keyframes';
@use '../mediaqueries';
@use '../mixins';




#contact{

    p{
        font-size: 1.125em
    }

    a{
        color: variables.$yellowcolor;
        font-weight: 600;
    }
}