@use '../variables';
@use '../keyframes';
@use '../mediaqueries';
@use '../mixins';


header {
  background: hsl(0, 0%, 20%);
  color: #fff;
  padding: 1em 0;
  text-align: center;
  position: relative;


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%;
    height: 0.2rem; 
    background: linear-gradient(90deg, variables.$yellowcolor, variables.$darkyellowcolor); 
  }
}

.nav-links {
  list-style: none;
  display: flex;

  li {
    margin-left: 2rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: #f0a500;
    }
  }
}

.logo {
  display: flex;
  font-size: 150%;
}