@use '../variables';
@use '../keyframes';
@use '../mediaqueries';
@use '../mixins';


/* Container Styling */
#skills {
  font-family: 'Arial', sans-serif;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#skills h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

/* Skill Block */
.skill {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.skill-info {
  width: 20%;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  color: #444;
}

.skill-bar {
  width: 75%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 1rem;
}

.skill-bar .filled {
  height: 100%;
  background: linear-gradient(50deg, variables.$yellowcolor, variables.$lightyellowcolor);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}

/* Add width dynamically using data-skill */
.skill-bar .filled[data-skill="100"] {
  width: 100%;
}
.skill-bar .filled[data-skill="95"] {
  width: 95%;
}
.skill-bar .filled[data-skill="85"] {
  width: 85%;
}
.skill-bar .filled[data-skill="60"] {
  width: 60%;
}

.skill-bar .filled[data-skill="70"] {
  width: 80%;
}